/*
 *
 * Settings
 *
 */

$hv_body_text: #17171A;
$hv_light_grey: #f7f7f7;
$hv_grey_accent: #b5b6bc;
$hv_yellow: #ffd503;
$hv_link_blue: #1684B9;

/*
 *
 * Header
 *
 */

.header {
	background: $hv_light_grey;
}


/*
 *
 * body
 *
 */

 body, html, .body {
	background: $hv_light_grey !important;
	p {
		color: $hv_body_text;
	}
	a {
		color: $hv_link_blue;
	}
	hr.hvopen_hr {
		border: solid 1px $hv_grey_accent;
		border-width: 1px 0 0 0;
		margin: 30px 0;
	}

}

.hvopen_prelim_callout, 
.hvopen_prelim_callout_full_string_month {
	color: $hv_grey_accent;
	font-style: italic;
	font-size: 16px;
}

.hvopen_talk_title {
	font-weight: bold;
}

/*
 *
 * sidebar
 *
 */

 .hvopen_cal {
	display: inline-block;
    width: 5.3em;
    font-weight: 700;
    color: #444;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
 }

 .hvopen_cal_header {	
    display: block;
    border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;

	color: #17171a;	
	line-height: 24px;
	font-size: 16px;
	background: $hv_yellow;
	text-transform: uppercase;

	.hvopen_cal_3char_month{
		color: #17171a;
		line-height: 24px;
		font-size: 16px;
		background: $hv_yellow;
		text-transform: uppercase;
	}
}

.hvopen_date {
	display: block;
	position: relative;
	
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
	color: #17171a;

	.hvopen_cal_date_e {
		font-size: 40px;
		font-weight: 700;
		line-height: 60px;
		color: #17171a;
	}
}

.hvopen_cal_date_time,
.hvopen_cal_date_time_lMp {
	background-color: #f3f3f3;
}

/*
 *
 * where/when table
 *
 */
.hvopen_where_when {
	td:first-of-type{
		color: $hv_grey_accent;
	}
	td:last-of-type,
	.hvopen_date_day_month_date_year,
	.hvopen_time_span,
	.hvopen_location_full {
		color: $hv_body_text;
		font-weight: 700;
	}
}

/*
 *
 * Upcoming events
 *
 */
.hvopen_upcoming_event_date {
	margin-top: 12px;
	font-size: 18px;
}

.hvopen_banner_img {
	background-image: url('https://d33wubrfki0l68.cloudfront.net/images/220ee1c648c40ca97843ed36bcd1c65a041a3e21/banner-wide-white.jpg');
	height: 200px;
}

table.body .hvopen_related_meetups {
	img {
		height: 50px;
		width: 50px;
	}
}