/*
 *
 * Settings
 *
 */

$hv_light_grey: #f7f7f7;
$hv_grey_accent: #b5b6bc;

/*
 *
 * Header
 *
 */

.header {
	background: $hv_light_grey;
}


/*
 *
 * body
 *
 */

 body, html, .body {
    background: $hv_light_grey !important;
}

.hvopen_prelim_callout, 
.hvopen_prelim_callout_full_string_month {
	color: $hv_grey_accent;
	font-style: italic;
	font-size: 16px;
}